div {
  /* height: 200px; */
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

div.image-1-container {
  width: auto;
  height: 600px;
  background-color: #F63Fcc;
}

div.image-2-container {
  width: 200px;
  /* height: 600px; */
  background-color: #F63Fcc;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
}
